* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: #fbfbfb;
}

.nav-item {
  text-decoration: none;
  color: rgb(102, 102, 102);
}

.active {
  font-weight: bold;
  color: #4378ff;
}
