* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: #fbfbfb;
}

.nav-item {
  text-decoration: none;
  color: rgb(102, 102, 102);
}

.active {
  font-weight: bold;
  color: #4378ff;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
