$gray:#bbbbbb;
$shadow:1px 1px 10px rgba(0, 0, 0, 0.2);

@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSansKR-Regular.otf') format('truetype');
}

* {
    font-family: 'Noto Sans KR';
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .text-logo-img {
        height: 20px;
    }
    .header-content {
        justify-content: space-between;
        display: flex;
        margin: auto;
        width: 50%;
        .active {
            font-weight: bold;
        }
        .header-link {
            text-decoration: none;
            color: black;
            font-size: 16px;
            margin-left: 26px;
        }
    }
}

.login {
    width: 480px;
    height: 100vh;
    background-color: white;
    margin: auto;
    .login-main {
        width: 70%;
        margin: auto;
        text-align: center;
        padding-top: 120px;
        .no-text-logo {
            width: 100px;
            margin-bottom: 50px;
        }
        input {
            width: 100%;
            border: none;
            border-radius: 10px;
            background-color: #ffffff;
            padding: 18px 0;
            margin-bottom: 17px;
            box-shadow: $shadow;
            ::placeholder {
                color: #929292;
            }
            &:focus {
                background-color: #f3f3f3;
                outline: none;
            }
        }
        button {
            box-shadow: $shadow;
            width: 100%;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 44px;
            margin: 20px 0 10px;
            padding: 19px;
            background-color: #646DC9;
            &:hover {
                border: 1px solid #646DC9;
                background-color: #ffffff;
                color: #646DC9;
                padding: 18px;
            }
        }
        .go-to-signup {
            color: #92BAD0;
            font-size: 12px;
        }
    }
}

/* for smartphone: ~ 480px */
// @media screen and (max-width: 480px) {
//     .header-btn {
//         color: red;
//     }
// }


/*
visibility : hidden -> display:none은 공간까지 사라지게 하지만 이것은 공간은 사라지지 않고 남는다.
opacity : 투명도 지정 0.0~1.0
 */