$gray:#bbbbbb;

@font-face {
    font-family: 'Noto';
    src: url('./fonts/NotoSansKR-Regular.otf') format('truetype');
}

* {
    font-family: 'Noto';
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.header-btn{
    background-color: white;
    border: none;
    padding: 10px;
    &:hover {
        color: rgb(120, 120, 120);
    }
}

.header-items {
    width: 60%;
    display: flex;
    justify-content: center;
}

.main-content {
    padding-top: 40px;
}

.signup-content {
    margin: auto;
    width: 480px;
    height: 100vh;
    background-color: white;
    justify-content: center;
}

.signup-form {
    padding: 0 20%;
    .logo-with-text {
        display: block;
        margin: 0 auto;
        padding-top: 20%;
    }
    form {
        margin-top: 70px;
    }
    .singup-submit-btn {
        width: 57px;
        height: 57px;
        display: block;
        margin: auto;
        border: none;
        background-color: white;
        background-image: url(../public/clarity_circle-arrow-line.png);
    }
    .agree-box {
        display: flex;
        align-items: center;
        height: 14px;
        margin-bottom: 50px;
        input {
            width: 14px;
        }
        .agree-text {
            height: 14px;
            font-size: 10px;
            margin-left: 3px;
        }
    }

    .input-box {
        display: flex;
        margin-bottom: 24px;
        input {
            border: none;
            border-bottom: 0.5px solid #AFBEDF;
            padding: 8px;
            font-size: 12px;
        }
        button {
            color: white;
            border: none;
            background-color: #AFBEDF;
            padding: 8px;
            border-radius: 4px;
            &:hover {
                background-color: #909fc1
            }
        }
        .signup-input {
            flex-grow: 2;
            width: auto;
        }
    }
}

.max-width {
    width: 100%;
}

/* for smartphone: ~ 480px */
// @media screen and (max-width: 480px) {
//     .header-btn {
//         color: red;
//     }
// }


/*
visibility : hidden -> display:none은 공간까지 사라지게 하지만 이것은 공간은 사라지지 않고 남는다.
opacity : 투명도 지정 0.0~1.0
 */